node_modules
**/node_modules
**/dist
**/build
**/coverage
**/*.tsbuildinfo
**/data
**/*.db
**/*.db-shm
**/*.db-wal
.git
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.env
.env.*
!.env.example
!apps/api/.env.example
.agent-reports
docs
